:root {
    --basic-black: #000000;
    --basic-extra-dark: #333333;
    --basic-dark: #aba9a7;
    --basic-neutral: #eeeeee;
    --basic-extra-light: #f2f2f2;
    --basic-white: #ffffff;
    --basic-blue: #81b3d2;
    --special: #766357;
    --color-shadow: rgba(0, 1, 1, 0.2);
    --background-white: rgba(255, 255, 255, 0.9);
    --basic-grey: #666666;
    --basic-dark-blue: #5496bd;
    --basic-light-blue: #88b6d1;
    --basic-light-grey: #c2c2c2;
    --basic-light-grey: #a9a9a9
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: var(--basic-extra-light);
    color: var(--basic-extra-dark);
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0px 5px 15px var(--color-shadow);
    background-color: var(--basic-white);
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.site-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header {

    background-color: var(--basic-white);
}

.main-navigation {
    background-color: var(--basic-white);
    position: relative;
}

.site-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.site-navigation li {
    font-weight: 700;
    width: 20%;
    line-height: 26px;
    color: var(--basic-black);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    align-items: center;
}

.site-navigation a {
    text-decoration: none;
    color: var(--basic-black);
}

.site-navigation li:nth-child(2) {
    padding-right: 15px;
}

.site-navigation li:nth-child(3) {
    margin-left: 255px;
    padding-left: 15px;
}

.site-headline {
    background-image: url(../img/background-sedona.jpg);
    width: 1200px;
    height: 509px;
    text-align: center;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.snowcase {
    padding-top: 78px;
}

.snowcase::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 58px;
    background: url(../img/shape.png) no-repeat center bottom;
}

.short-description {
    text-align: center;
    height: 214px;
}

.short-description-form {
    text-align: center;
    padding-top: 25px;
}

.short-description-form p {
    padding-bottom: 30px;
    line-height: 24px;
}

.short-description-form h2 {
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.about {
    margin: 0 auto;
    padding-top: 22px;
}

.about h3 {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.about p {
    line-height: 26px;
    padding-top: 20px;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
}

.reasons-item-image {
    background-color: var(--basic-blue);
    width: 400px;
    text-align: center;
    padding-top: 47px;
    margin-bottom: 6px;
}

.reasons-item-image h3 {
    font-size: 21px;
    color: var(--basic-white);
    margin: 0 auto 26px;
}

.reasons-item-image p {
    margin-top: 25px;
    margin-bottom: 0;
}

.reasons-item-image p,
.reasons-item-image span {
    color: var(--basic-white);
}

.features {
    background-color: var(--basic-white);
}

.feature-item h3 {
    font-size: 21px;
    color: var(--basic-black);
}

.feature-item {
    padding-bottom: 69px;
    padding-top: 140px;
    position: relative;
}

.feature-item::before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
}

.features-item-house::before {
    top: 55px;
    background-image: url(../img/housing-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
}

.features-item-food::before {
    background-image: url(../img/food-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    top: 56px;
}

.features-item-souvenirs::before {
    position: absolute;
    content: "";
    background-image: url(../img/souvenirs-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 76px;
    top: 57px;
}

.reasons-item h3 {
    font-size: 21px;
    color: var(--basic-black);
    margin: auto 0 26px;
}

.reasons-item-list {
    background-color: var(--basic-neutral);
}

.reasons-item {
    align-items: center;
    padding: 50px 45px;
}

.site-list-reason {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: -5px;
    padding-bottom: -5px;
}

.found p {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.sorting p {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
}

.sort-list a {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
}

.off-link a {
    opacity: 0.3;
}

.active-link a {
    color: var(--basic-blue);
}

.container-catalog {
    background-color: var(--basic-white);

}

.button-details {
    background-color: var(--basic-blue);
    margin-right: 6px;
}

.button-reservation {
    background-color: var(--special);
}

.button-details a,
.button-reservation a {
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-white);
}

.rating {
    color: var(--basic-grey);
    background-color: var(--basic-extra-light);
    margin-left: 0;
}

.site-sorting {
    padding: 29px 73px;
}

.found {
    margin-right: 30px;
}

.sort-list {
    display: flex;
}

.hotels-sort-item {
    margin-left: 34px;
}

.hotels {
    display: flex;
    padding: 25px 6% 30px;
}

.name-hotels {
    color: var(--basic-black);
    line-height: 26px;
    text-decoration: none;
}

.sorting {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.hotels-photo {
    margin-right: 30px;
}

.hotels-info {
    display: flex;
}

.hotels-type {
    min-width: 110px;
}

.buttons {
    display: flex;
}

.main-footer {
    background-color: var(--background-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 30px;
    position: relative;
    padding-bottom: 40px;
}

.page-footer {
    margin-top: -125px;
}

.footer-contacts {
    text-align: center;
    padding-left: 75px;
    margin-top: -10px;
}

.footer-contacts p,
.footer-contacts a {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    margin: 0;
    text-decoration: none;
}

.contacts-hashtag {
    padding-bottom: 12px;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
    padding-left: 125px;
}

.social-btn {
    position: relative;
    width: 46px;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}

.icon-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer-copyright {
    line-height: 26px;
    color: var(--basic-black);
    text-align: center;
    padding-right: 70px;
    padding-top: 7px;
}

.copyright-logo img {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
    padding-bottom: 7px;
}


.modal-search {
    left: 50%;
    top: 315px;
    transform: translate(-50%, -50%);
    width: 568px;
    height: 395px;
    position: fixed;
    margin: auto;
    color: var(--basic-black);
    z-index: 1;
    text-align: center;
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.search-hotels {
    height: 86px;
    width: 568px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    background-color: var(--special);
    color: var(--basic-white);
    text-transform: uppercase;
    border: 0;
}

.intro-search {
    padding-bottom: 35px;
    line-height: 24px;
}

.intro-text-search {
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
}

.search {
    width: 570px;
    margin: 0 auto;
    text-align: center;
}

.search-filters {
    position: absolute;
    z-index: 100;
    padding-top: 56px;
    padding-bottom: 55px;
    padding-left: 57px;
    padding-right: 54px;
    font-weight: 700;
    line-height: 26px;
    background-color: var(--basic-white);
    box-shadow: 0 10px 40px 5px rgba(0, 0, 0, 0.2);
}

.field-data {
    margin-bottom: 27px;
    color: var(--basic-black);
}

.field-value-data {
    position: relative;
    margin-left: 114px;
    margin-right: 39px;
}

.field-data label {
    position: absolute;
    margin-left: -115px;
    line-height: 38px;
}

.field-data input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 15px;
    text-transform: uppercase;
    background-color: var(--basic-extra-light);
    border: 0;
}

.field-data input:hover {
    background-color: var(--basic-extra-light);
}

.field-data input:focus {
    background-color: var(--basic-white);
    outline: 2px solid var(--basic-extra-light);
}

.btn-calendar {
    position: absolute;
    width: 38px;
    height: 40px;
    margin-left: 305px;
    padding: 0;
    background-image: url(../img/calendar.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: var(--basic-light-grey);
    background-color: var(--basic-extra-light);
    border: 0;
}

.btn-calendar:hover {
    color: var(--basic-black);
}

.btn-calendar:active {
    color: var(--basic-blue);
}

.btn-people-number {
    width: 38px;
    height: 40px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    color: var(--basic-light-grey);
    background-color: var(--basic-extra-light);
    border: 0;
    outline: 0;
}

.btn-people-number:hover {
    color: var(--basic-black);
}

.btn-people-number:active {
    color: var(--basic-blue);
}

.people-number input,
.children-number input {
    width: 38px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background-color: var(--basic-extra-light);
    border: 0;
    outline: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.field-people {
    margin-bottom: 54px;
}

.field-people > label {
    line-height: 38px;
}

.field-value-people {
    height: 40px;
    margin-left: 114px;
    text-align: left;
}

.btn-plus {
    margin-left: -4px;
}

.btn-minus {
    margin-right: -4px;
}

.people-number-adults {
    margin-left: -115px;
   
}

.people-number-children {
/*
    display: inline-block;
    margin-left: -180px;
*/
}

.people-number {
     display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.search-btn {
    width: 458px;
    height: 58px;
    padding: 0;
    font-size: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    border: 0;
    outline: 0;
}

.search-btn:hover {
    background-color: var(--basic-dark-blue);
}

.search-btn:active {
    color: var(--basic-light-blue);
    background-color: var(--basic-dark-blue);
}
