:root {
    --basic-black: #000000;
    --basic-extra-dark: #333333;
    --basic-dark: #aba9a7;
    --basic-neutral: #eeeeee;
    --basic-extra-light: #f2f2f2;
    --basic-white: #ffffff;
    --basic-blue: #81b3d2;
    --special: #766357;
    --color-shadow: rgba(0, 1, 1, 0.2);
    --background-white: rgba(255, 255, 255, 0.9);
    --basic-grey: #666666;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: var(--basic-extra-light);
    color: var(--basic-extra-dark);
}

.main-header {
    background-color: var(--basic-white);
}

.site-navigation a {
    font-weight: 700;
    line-height: 26px;
    color: var(--basic-black);
}

.site-headline {
    background-image: url(../img/background%20sedona.jpg);
    width: 1200px;
    height: 509px;
}

.site-list {
    list-style-type: none;
}

.short-description h3 {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.short-description p {
    line-height: 26px;
}

.reasons-item-image {
    background-color: var(--basic-blue);
}

.reasons-item-image h3 {
    font-size: 21px;
    color: var(--basic-white);
}

.reasons-item-image p,
.reasons-item-image span {
    color: var(--basic-white);
}

.features {
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px var(--color-shadow);
}

.feature-item h3 {
    font-size: 21px;
    color: var(--basic-black);
}

.reasons {
    background-color: var(--basic-neutral);
}

.reasons-item h3 {
    font-size: 21px;
    color: var(--basic-black);
}

.short-description {
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px var(--color-shadow);
}

.short-description h2 {
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
}

.search-form h3 {
    background-color: var(--special);
}

.search-form h3 {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
}

.main-footer {
    background-color: var(--background-white);
}

.footer-contacts p,
.footer-contacts a {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.footer-copyright {
    line-height: 26px;
    color: var(--basic-black);
}

.found p {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.sorting p {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
}

.sort-list a {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
}

.off-link a {
    opacity: 0.3;
}

.active-link a {
    color: var(--basic-blue);
}

.container-catalog {
    background-color: var(--basic-white);
}

.button-details {
    background-color: var(--basic-blue);
}

.button-reservation {
    background-color: var(--special);
}

.button-details a,
.button-reservation a {
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-white);
}

.rating {
    color: var(--basic-grey);
    background-color: var(--basic-extra-light);
}

.social-item img {
    background-color: var(--basic-blue);
}
